*{
    margin: 0;
    padding: 0;
}
/* ------------------------------------------------ 

                     WRAPPER

------------------------------------------------- */
.wrapper{
    max-width: 900px;
    width: min(900px, 90%);
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

/* ------------------------------------------------ 

                     HEADER

------------------------------------------------- */
.header{

}

.main-heading{
    text-align: center;
}

/* ------------------------------------------------ 

                    IMAGE PANEL

------------------------------------------------- */
.image-panel{
    display: flex;
}

img{
    width: 300px;
    height: 200px;
}

/* ------------------------------------------------ 

                  PRICING HEADER

------------------------------------------------- */




/* ------------------------------------------------ 

                  PRICING CONTENT

------------------------------------------------- */

/* ------------------------------------------------ 

                  CONTACT HEADER

------------------------------------------------- */

/* ------------------------------------------------ 

                  CONTACT CONTENT

------------------------------------------------- */