*{
    margin: 0;
    padding: 0;
    background-color: rgb(25, 75, 58);
    color: white;

    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    --header-color: rgb(195, 247, 175);
    --sub-heading-size: 24px;
}


/* ------------------------------------------------ 

                     WRAPPER

------------------------------------------------- */
.wrapper{
    max-width: 900px;
    width: min(900px, 90%);
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 25px;
}

/* ------------------------------------------------ 

                     HEADER

------------------------------------------------- */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.main-heading{
    font-size: 48px;
    color: var(--header-color);
    font-weight: 400;
}

.heading-hr{
    border: none;
    height: 2px;
    background-color: rgb(12,128,64);
    margin:5px 0 10px 0;
}

.heading-sub-heading{
    font-size: var(--sub-heading-size);
}

/* ------------------------------------------------ 

                    IMAGE PANEL

------------------------------------------------- */
.image-panel{
    display: flex;
    gap: 10px;
}

img{
    width: 400px;
    height: 220px;
    border-radius: 1%;
}

/* ------------------------------------------------ 

                  PRICING HEADER

------------------------------------------------- */
.pricing-header{
    display: flex;
    align-items:center;
    width: 100%;
    gap: 18px;
}

.pricing-header .pricing-line{
    flex: 1;
}

.pricing-header .pricing-line hr{
    border: none;
    height: 2px;
    background: rgb(12,128,64);
    opacity: 0.7;
}

.pricing-heading{
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--header-color);
    font-size: var(--sub-heading-size);
}



/* ------------------------------------------------ 

                  PRICING CONTENT

------------------------------------------------- */

/* ------------------------------------------------ 

                  CONTACT HEADER

------------------------------------------------- */

/* ------------------------------------------------ 

                  CONTACT CONTENT

------------------------------------------------- */